
\.DS_Store

\.Rbuildignore

\.RData

\.Rhistory

\.travis\.yml

inst/include/meta_header\.hpp

*.json

*.swo

*.swp

src/MarkovChainSimulator/GPATH

src/MarkovChainSimulator/GRTAGS

src/MarkovChainSimulator/GTAGS

*.plist

*.o

src/tmi\.dll

src/tmi\.so

tools/make_cc\.R
